body {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
}

.page {
    padding: 10px;
    margin: 10px;
}


.content {
    width: 100%;
}

.photo {
    float: left;
    margin-right: 10px;
}

.text {
    overflow: hidden;
}

footer {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}