.main-container {
    width: 61%;
    margin: auto;
}

.nav-bar {
    text-align: center;
    color: royalblue;
}

.separator {
    height: 1px;
    background-color: #d5d8d8;
    border-radius: 5px;
    margin-bottom: 5px;
}

.text-container {
    display: flex;
    justify-content: center;
    margin: 5px auto;
}

.text {
    border: 2px solid darkslategray;
    border-radius: 5px;
    width: 75%;
    height: 30vh;
    padding: 5px;
}

.textFont {
    display: inline;
}