/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

/* body {
    padding: 20px;
} */

div {
    padding: 15px;
    /* width: 50%; */
}

.menu {
    width: 200px;
    text-align: center;
}

.image-par {
    padding-left: 38px;
}

fieldset {
    margin-bottom: 10px;
}

textarea {
    width: 211px;
    height: 150px;
}

.location-par {
    font-style: italic;
}

.dotted {
    text-decoration-style: dotted;
}

.bold {
    text-decoration: none;
    font-weight: bold;
}

footer {
    text-align: center;
}