p {
    width: 50%;
    padding: 20px;
    margin: auto;
    text-align: center;
    border: 15px solid transparent;
    border-image: url(https://png.pngtree.com/png-clipart/20230506/original/pngtree-luxury-golden-rectangle-certificate-border-pattern-line-photo-frame-islamic-wedding-png-image_9144177.png) 30 round;
}