body {
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

p {
    border: 1px solid transparent;
    background-color: gold;
    padding: 100px;
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 2em;
}