img {
    width: 15%;
}

.img1 {
    position: absolute;
    top: 10px;
    left: 10px;
}

.img2 {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.img3 {
    position: absolute;
    top: 30px;
    left: 30px;
}

.img4 {
    position: absolute;
    top: 40px;
    left: 40px;
}