.container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.items {
    color: whitesmoke;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

.item1 {
    background-color: green;
}

.item2 {
    background-color: lightblue;
}

.item3 {
    background-color: lightcoral;
}

.item4 {
    background-color: royalblue;
}

.item5 {
    background-color: gold;
}

.item6 {
    background-color: orange;
}

.item7 {
    background-color: darkred;
}

.item7 {
    background-color: red;
}

.item8 {
    background-color: navy;
}

.item9 {
    background-color: gray;
}

.item10 {
    background-color: darkcyan;
}