nav {
    background-color: darkgrey;
    padding: 15px;
    display: flex;
    gap: 15px;
}

.profile {
    align-self: flex-end;
}

.settings {
    align-self: flex-end;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    padding: 15px;
}

.searchBar {
    width: 100%;
    border-radius: 15px;
    margin: 10px 0 10px 0;
}

.btn {
    border: 1px solid transparent;
    border-radius: 5px;
    align-content: center;
}

footer {
    background-color: darkgrey;
    display: flex;
    gap: 15px;
    padding: 15px;
}

.terms {
    align-self: flex-end;
}