.container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 10px;
    width: 80%;
    margin: auto;
    padding: 10px;
}

.items {
    margin: auto;
}

.items img{
    width: 100%;
}