* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 10px;
}

.cards {
    display: flex;
    flex-direction: column;
    border: 1px solid darkred;
    border-radius: 5px;
    margin: auto;
    height: 500px;
}

.printer-img {
    width: 100%;
}

.btn {
    align-self: flex-end;
    width: 100%;
    padding: 10px;
    background-color: green;
    color: whitesmoke;
    border: 1px solid transparent;
    border-radius: 5px;
}

.card1 {
    width: 90%;
    margin: auto;

    img {
        width: 100%;
        border-radius: 5px;
    }

    ul {
        margin-left: 35px;
    }

    .btn {
        margin-bottom: 15px;
    }

    * {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.card2 {
    width: 90%;
    margin: auto;

    img {
        width: 100%;
        border-radius: 5px;
    }

    ul {
        margin-left: 35px;
    }

    .btn {
        margin-bottom: 15px;
    }

    * {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.card3 {
    width: 90%;
    margin: auto;

    img {
        width: 100%;
        border-radius: 5px;
    }

    ul {
        margin-left: 35px;
    }

    .btn {
        margin-bottom: 15px;
    }

    * {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.card4 {
    width: 90%;
    margin: auto;

    img {
        width: 100%;
        border-radius: 5px;
    }

    ul {
        margin-left: 35px;
    }

    .btn {
        margin-bottom: 15px;
    }

    * {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.card5 {
    width: 90%;
    margin: auto;

    img {
        width: 100%;
        border-radius: 5px;
    }

    ul {
        margin-left: 35px;
    }

    .btn {
        margin-bottom: 15px;
    }

    * {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}