h1 {
    text-decoration: overline;
    text-decoration-color: green;
}

h3 {
    text-decoration: line-through;
    text-decoration-color: grey;
}

h4 {
    text-decoration: underline;
    text-decoration-color: blueviolet;
}

h5 {
    text-decoration: overline underline;
    text-decoration-color: blue;
}